[submodule "LSAP/vendor/glm"]
	path = LSAP/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "LSAP/vendor/GLFW"]
	path = LSAP/vendor/GLFW
	url = https://github.com/LarsSeverson/glfw
[submodule "LSAP/vendor/imgui"]
	path = LSAP/vendor/imgui
	url = https://github.com/LarsSeverson/imgui
[submodule "LSAP/vendor/spdlog"]
	path = LSAP/vendor/spdlog
	url = https://github.com/gabime/spdlog
